body {
  
    background-color: ivory;
    color: gray;
        
}
    
 p { font-size:16px;
        
    }
ol {  list-style-type: lower-alpha;
}
ul {list-style-type: square;
}

div.profile-img {border-style: dotted; width: 200px;
  height: 200px;
}

div.Linkit {
background-color: darkseagreen;
padding: 15px;
border-radius: 5px;
font-size:20px;
margin: 25px 25px 25px 25px;
}

header {
font-size:25px;
      border: 2px solid green;
border-radius: 5px;
margin: 25px 25px 25px 25px;
 background-color: lightgray;
color: green
}


aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

section {
background-color: greenyellow;
}

article {
background-color: white;
}

footer {
background-color: yellow;
}
