body {
  
    background-color: ivory;
    color: gray;
        
}

 h1 { font-size:30px;
      border: 2px solid green;
border-radius: 5px;
margin: 25px 25px 25px 25px;
  
   }
    
 p { font-size:16px;
        color: gray;
        background-color: mintcream;
    }
ol {  list-style-type: lower-alpha;
}
ul {list-style-type: square;
}

div.profile-img {border-style: dotted; width: 200px;
  height: 200px;
}

div.Linkit {
background-color: darkseagreen;
padding: 15px;
border-radius: 5px;
font-size:20px;
margin: 25px 25px 25px 25px;
}
