body {
  
    background-color: linen;
    color: seagreen;
    font-family: Georgia;
    margin-left: 200px;
}

header {
font-size:15px;
padding-top: 30px;
color: darkgreen;
}

nav{ font-weight: bold;
font-size: 20px;
font-family: arial;
}

div.kokemus{
padding: 10px 10px 10px 20px;
margin: 5px;
border-radius: 5px;
background-color: lightgray;
line-height: 12px;

}
 
ol {  list-style-type: lower-alpha;
}
ul {list-style-type: square;
}

div.profile-img {
padding-left: 75px;
}

label {
padding-left: 10px;
font-size: 20px;
}
progress {
accent-color: green;
padding-right: 10px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  font-family:palatino linotype;
  background-color: mediumseagreen;
  color: ivory
}

section {
width: 50%
}

article {
padding: 10px 10px 10px 20px;
margin: 5px;
border-radius: 5px;
background-color: lightgray;
width: 46%;

}

footer {
margin: 5px;
border-radius: 5px;
background-color: lightgray;
}

